{% extends 'base.html.twig' %}

{% block title %}Lib2Move - Account{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .menu_link { background-color: white; color: black; }
    .menu_link:hover { background-color: black; color: white; }
</style>

<nav style="position:fixed; z-index: 99999;" class="col-sm-1 ml-auto mt-md-3 bg-success">
        <a href="#">All Offers</a><br>
        <a href="/home">Car</a><br>
        <a href="#">Motorcycle</a><br>
        <a href="#">Scooter</a><br>
        <a href="#">All Rented</a>
 </nav>

<div class="container-fluid">

    <div class="row h-100 bg-warning pt-3">
        <div class="col col-sm-1 ml-auto fixed-left">
            
        </div>
        <div class="col">
            <h1 class="display-6">Offer details :</h1>

            <div class="row col-12 col-md-8 justify-content-center ml-1">

                {% if offer is not null %}
                <p>Offer number : {{ offer.offerNumber }} </p><br>
                <p>Offer vehicle : {{ offer.vehicle.Id }}</p><br>
                <p>description : cette offre a une durée de {{ duration }} de location nombre de kilomètre ilimité</p>

                <br><br>
                <!-- <button>Revoke offer</button> -->
                
                {% endif %}

                <p>Marque du Vehicule : {{ offer.vehicle.brand }}</p><br>
                <p>Model du Vehicule : {{ offer.vehicle.model }}</p><br>
            </div>

        </div>

        <div class="card col-12 col-md-4 justify-content-center">
            <img src="/uploads/{{ offer.vehicle.picture }}" alt="offer_image" />
        </div>
    </div>

    <a href="{{ path('rentOffer', {'id': offer.id }) }}"><button style="">loué</button></a>
    
</div>
{% endblock %}
