{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Lib2Move !</h1>
        <br>
        {% if (error != null) %}
            <p class="text-warning">{{ error }}</p>
        {% endif %}
        {% if not app.user %}
            <a href="{{ path('user_new') }}">Register</a><br>
            <a href="{{ path('login') }}">Login</a><br>
        {% endif %}
        <a href="{{ path('admin') }}">admin</a><br>
        <a href="{{ path('admin_dashboard') }}">Dashboard admin</a><br>

    </div>
{% endblock %}
