{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Lib2Move !</h1>
        <br>
        {% if (error != null) %}
            <p class="text-warning">{{ error }}</p>
        {% endif %}
        {% if not app.user %}
            <a href="{{ path('user_new') }}">Register</a><br>
            <a href="{{ path('login') }}">Login</a><br>
        {% else %}
        <a href="{{ path('admin') }}">admin</a><br>
        <a href="{{ path('admin_dashboard') }}">Dashboard admin</a><br>
        {% endif %}
    </div>
    <div class="jumbotron">
        <h1 class="display-3">Lib2Move !</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
