<div class="p-0">
{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.offerNumber) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.offerPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.startDate) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.endDate) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.vehicle) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.user) }}
        </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
</div>