{% extends 'base.html.twig' %}

{% block title %}AccessRole index{% endblock %}

{% block body %}
    <h1>AccessRole index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AuthorizationEspace</th>
                <th>DescriptionEspace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_role in access_roles %}
            <tr>
                <td>{{ access_role.id }}</td>
                <td>{{ access_role.authorizationEspace }}</td>
                <td>{{ access_role.descriptionEspace }}</td>
                <td>
                    <a href="{{ path('access_role_show', {'id': access_role.id}) }}">show</a>
                    <a href="{{ path('access_role_edit', {'id': access_role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- <h4>Routing:</h4>
    <table>
        % for route in routes %}
            <tr>
                <td>route.path }}</td>
                <td>route.methods|length > 0 ? route.methods|join(', ') : 'ANY' }}</td>
                <td>route.defaults._controller }}</td>
            </tr>
        % endfor %}
    </table> -->

    <a href="{{ path('access_role_new') }}">Create new</a>
{% endblock %}
