{% extends 'base_admin.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    
    <h3>Roles list</h3>

    <table class="table">
        <thead>
            <tr>
                <th>NomRole</th>
                <th>DescriptionRole</th>
                <th>CreatedBy</th>
                <th></th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for role in allroles %}
            <tr>
                <td>{{ role.nomRole }}</td>
                <td>{{ role.descriptionRole }}</td>
                <td>{{ role.createdBy }}</td>
                <td></td>
                <td><a href="{{ path('role_edit', {'id': role.id}) }}">&</a></td>
                <td><a href="{{ path('role_delete', {'id': role.id}) }}">(X)</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Create new</a>
{% endblock %}
