<div class="p-0">
    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-6">
            {{ form_row(form.typeOfVehicle) }}
        </div>
        <div class="form-group">
            <label class="" for="form_SubTypeOfVehicle">Sub Type of vehicle</label>
            <select name="SubTypeOfVehicle" form="SubTypeOfVehicle" class="form-control">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="col-md-6">
            {{ form_row(form.brand) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.model) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.serialNumber) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.color) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.numberplate) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.kilometers) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateOfPurchase) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.buyingPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.picture) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.gallery) }}
        </div>
        <div class="col-md-12 d-flex justify-content-end mr-4">
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
