{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>TypeOfVehicle</th>
                <td>{{ vehicle.typeOfVehicle }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>SerialNumber</th>
                <td>{{ vehicle.serialNumber }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vehicle.color }}</td>
            </tr>
            <tr>
                <th>Numberplate</th>
                <td>{{ vehicle.numberplate }}</td>
            </tr>
            <tr>
                <th>Kilometers</th>
                <td>{{ vehicle.kilometers }}</td>
            </tr>
            <tr>
                <th>DateOfPurchase</th>
                <td>{{ vehicle.dateOfPurchase ? vehicle.dateOfPurchase|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BuyingPrice</th>
                <td>{{ vehicle.buyingPrice }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vehicle.createdAt ? vehicle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ vehicle.createdBy }}</td>
            </tr>
            <tr>
                <th>ModifiedAt</th>
                <td>{{ vehicle.modifiedAt ? vehicle.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModifiedBy</th>
                <td>{{ vehicle.modifiedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
