{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>TypeOfVehicle</th>
            <th>Brand</th>
            <th>Model</th>
            <th>SerialNumber</th>
            <th>Color</th>
            <th>Numberplate</th>
            <th>Kilometers</th>
            <th>DateOfPurchase</th>


        </tr>

        </thead>
        <tbody>
            <tr>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.typeOfVehicle }}</td>
            </tr>
            <tr>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.serialNumber }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.color }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.numberplate }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.kilometers }}</td>
            </tr>
            <tr>

                <td>{{ vehicle.dateOfPurchase ? vehicle.dateOfPurchase|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <img src="{{asset('uploads/'~vehicle.picture) }}">
    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
